
.logo {
	position: relative;
	display: inline-block;
	flex: 0 0 180px;
	height: 60px;
	max-width: 180px;
	margin: 0 105px 0 0;
	text-decoration: none;
	
	background-repeat: no-repeat;
	background-position: 50% 50%;

	background-image: url(/img/logo_no-plus.png); 
	@include bg-contain;
	transition: 300ms;

	&::before {
	    position: absolute;
	    content: '';
	    width: 10px;
	    height: 32px;
	    top: 5px;
	    right: 12px;
		background-color: $yellow;
	}
	&::after {
		position: absolute;
	    content: '';
	    width: 32px;
	    height: 10px;
	    top: 16px;
	    right: 1px;
		background-color: $yellow;
	}

	&:hover::before, &:hover::after {
		transition: 300ms;
		// animation: logo-rotation 1s infinite linear;
		transform: rotate(90deg);
	}

	&.logo_white {
		position: relative;
		background-image: url(/img/logo_white-no-plus.png); 
	}
}

@media screen and (max-width: 992px) {
	.logo {
		background-image: url(/img/logo.png);
		&::before,&::after {display: none !important;}
		&.logo_white {
			background-image: url(/img/logo_white.png); 
		}
	}
}

@keyframes logo-rotation {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
}