.breadcrumbs {
	@include flex-row(nowrap,flex-start,center);
	background-color: transparent;
	padding: 6px 4px;
	z-index: 2;
	margin: 19px 0 40px 0;
}
.breadcrumbs__item {
	position: relative;
	display: inline-block;
	font-size: 14px;
	color: #808080;
	text-decoration: underline;
	margin: 0 4px 0 0;
	padding: 8px;
	text-decoration: none;
	transition: $tr2;
	opacity: .85;
	background: none;
	&:visited,&:active,&:focus {background: none;}
	&:hover {background: none; text-decoration: underline;}

	&:visited {color: #808080;}

	&:first-child {
		padding-left: 0;
	}


	// &:after {
	// 	position: absolute;
	// 	content: '';
	// 	right: -8px;
	// 	top: 50%;

	// 	width: 5px;
	// 	height: 5px;

	// 	border-right: 1px solid $gray3;
	// 	border-bottom: 1px solid $gray3;

	// 	transform: translateY(-50%) rotate(-45deg);
	// 	opacity: .85;
	// 	transition: $tr2;
	// }

	// &:first-child {
	// 	padding-left: 0;
	// }

	// &:last-child:after {
	// 	display: none;
	// }

	// &:hover {
	// 	color: #49474b;
	// 	opacity: 1;
	// 	&::after {opacity: 1;}
	// }
}
.breadcrumbs__item:last-of-type+.breadcrumb__arrow {display: none;}

.breadcrumb__arrow {
	// поведение
	display: block;
	position: relative;
	margin: 0 4px 0 0;
	width: 13px;
	height: 7px;

	// стили
}


@media screen and (max-width: 568px) {
	.breadcrumbs {	
		display: none;
	}
}