.hero {
	position: relative;
	height: 1100px;
	background: url(/img/bg/1-hero/bg-hero-bg.svg);
	background-size: cover;
	background-position: top right;
	background-repeat: no-repeat;
	&::before {
		@include pseudo;
		left: 0;
		top: 10%;
		width: 236px;
		height: 530px;
		background-image: url(/img/bg/1-hero/hero-bg-left-small.svg);
		background-size: contain;
		background-position: left center;
		background-repeat: no-repeat;
	}
	&__slider {
		width: 100%;
		height: 100%;
		.swiper-wrapper {height: 100%;}
	}
	&__slide {
		@include flex-row(nowrap,flex-end,stretch);
	}
	&__photo {
		position: relative;
		height: 94%;
		width: 70%;
		background-size: contain;
		background-position: top right;
		background-repeat: no-repeat;
		transition: 350ms;
	}
	&__photo_animated {
		    transform: scale(1.02);
	}
	&__photo-deco {
		position: absolute;
		right: 0;
		top: 0;
		width: 97%;
		height: 97%;
		background-image: url(/img/bg/1-hero/bg-hero-photobg.svg);
		background-size: contain;
		background-repeat: no-repeat;
		background-position: top right;
		z-index: -1;
		animation: animPhoto 4s ease-in infinite;
	}

	&__text {}
	&__deco {
		position: absolute;
		height: 100%;
		width: 100%;
		left: 0px;
		z-index: 2;
	}
	&__text-slides {
		position: absolute;
		height: 100vh;
		width: 100%;
		left: 0px;
		top: 0;
		padding: 190px 0 0 0;
		z-index: 3;	
	}
	&__text-slide {
		position: relative;
		h1 {margin-top: 0;}
		h1,p {color: #fff;}
	}
	&__form-holder {
		margin-top: 70px;
	}
	&__pagination {
		.swiper-pagination-bullet {
			position: relative;
			display: inline-block;
			width: 11px;
			height: 11px;
			background-color: #fff;
			border-radius: 50%;
			margin: 36px;
			&:before {
				@include pseudo;
				width: 33px;
				height: 33px;
				left: 50%;
				top: 50%;
				border-radius: 50%;
				transform: translateX(-50%) translateY(-50%);
				border: 2px solid #F45834;
			}
		}
	}
}



// .clip-me {
// 	clip-path: url(#c1);
// }



@keyframes animPhoto {
	0% {
		transform: rotate(0) translateY(0);
	}
	30% {
		transform: rotate(-1.2deg) translateY(-12px) translateX(16px);
	}
	60% {
		transform: rotate(0.9deg) translateY(-6px) translateX(2px);
	}
	100% {
		transform: rotate(0) translateY(0);
	}
}



@media screen and (max-width: 1200px) 	{
	// .hero {
	// 	height: 900px;
	// }
	.hero__photo {
		width: 90%;
	}
	.hero__photo-deco {
		width: 110%;
		height: 110%;
	}
}
@media screen and (max-width: 992px) 	{
	.hero {
		height: 950px;
	}
}
@media screen and (max-width: 768px) 	{}
@media screen and (max-width: 568px) 	{
	.hero {
		&::before {
			display: none;
		}
		br {display: none;}
	}
}
@media screen and (max-width: 414px) 	{}
@media screen and (max-width: 375px) 	{}