.product-feature {
	@include flex-row(nowrap,space-between, flex-end);
	width: 100%;
	margin: 0 0 12px 0;

	&:last-of-type {
		margin-bottom: 0;
	}
}
.product-feature__name {
	font-size: 14px;
	color: $gray3;
}
.product-feature__separator {
	margin: 0 10px 3px 10px;
	flex-grow: 1;
	height: 5px;

	background-image: url(/img/icons/i-feature-separator.png);
	background-repeat: repeat-x;
}
.product-feature__value {
	font-size: 14px;
	color: $black;
	font-weight: 600;
}