.partner-thumb {
	height: 140px;
	@include flex-row(nowrap,center,center);
	border: 1px solid $gray2;
	transition: $tr2;
	background: none;
	transition-delay: 30ms;

	&:first-child {
		margin-right:-1px;
		margin-top:-1px;
	}

	&.blurred {
		// background-color: $black;
		opacity: .4;
	}
	&.blurred.active {background-color: $yellow; opacity: 1;}
	&:hover {background: none;}
}

.partner-thumb__img-holder {
	height: 60%;
	width: 60%;
	@include bg-contain;
	filter: grayscale(1);
	transition: $tr1;
}

.partner-thumb__link {
	background-color: $yellow;
	color: $black;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 600;
	text-decoration: none;

	span {
		position: relative;
		display: inline-block;
		padding-right: 21px;
		text-decoration: none;

		&::before {
			@include pseudo;
			right: 0;
			top: 50%;
			transform: translateY(-35%) rotate(-45deg);

			width: 8px;
			height: 8px;
			border-right: 2px solid $black;
			border-bottom: 2px solid $black;
			transition: $tr2;
		}
	}

	&:visited,&:active {
		text-decoration: none;
		color: $black;
	}

	&:hover {
		text-decoration: none;
		cursor: pointer;

		span {
			&::before {
				transform: translateY(-35%) translateX(4px) rotate(-45deg) ;
			}
		}
	}
}


@media screen and (max-width: 370px) {
	.partner-thumb {
		height: 100px;
	}
	.partner-thumb__img-holder {
		width: 40%;
		height: 40%;
	}
}