.gallery {
	@include flex-row(nowrap,center,center);
	position: relative;
	&::before {
		@include pseudo;
		width: 100%;
		height: 380px;
		top: -350px;
		left: 0;
		z-index: -1;
		background-image: url(/img/bg/11-gallery/bg-gallery_top-dark.png);
		background-size: cover;
		background-position: bottom center;
		background-repeat: no-repeat;

	}
	&::after {
		@include pseudo;
		width: 100%;
		height:300px;
		z-index: -2;
		top: -375px;
		left: 0;
		background-image: url(/img/bg/11-gallery/bg-gallery_top-bright.png);
		background-size: cover;
		background-position: bottom center;
		background-repeat: no-repeat;
	}
}

@media screen and (max-width: 1200px) 	{}
@media screen and (max-width: 992px) 	{}
@media screen and (max-width: 768px) 	{
	.gallery {
		@include flex-row(wrap,center,center);
	}
}
@media screen and (max-width: 568px) 	{}
@media screen and (max-width: 414px) 	{}
@media screen and (max-width: 375px) 	{}