
// block
.made-by {
    position: relative;
    display: inline-block;
    width: 66px;
    height: 19px;
    color: #fff;
    position: relative;
    background-repeat: no-repeat;
    background-position: 50% 25%;
    background: none;
    text-transform: uppercase;
    transition: 250ms;
    &__icon {
        position: absolute;
        top: -12px;
        left: 0px;
        width: 63px;
        height: 35px;
        background-image: url(/img/icons/icon-raft_white.png);
        background-position: 50% 50%;
        background-size: contain;
        background-repeat: no-repeat;
        display: none;
        opacity: 0;
        transition: 450ms;
    }
    &__water {
        position: absolute;
        top: 20px;
        left: -6px;
        width: 73px;
        height: 30px;
        display: none;
        overflow: hidden;
        opacity: 0;

        i {
            position: absolute;
            display: block;
            width: 500px;
            height: 100%;
            left: 0;
            top: 0;
            background-image: url(/img/bg/1-hero/sea.svg);
            background-position: bottom center;
            background-size: 62px;
            background-repeat: repeat-x;
        }
    }
    &__txt  {
        transition: 0ms !important;
    }
}

.made-by.made-by_active {
    transform: translateY(-5px);
    .made-by__txt {
        opacity: 0;
        transition: 450ms;
    }
    .made-by__icon {
        display: block;
        opacity: 1;
        animation: made-by-icon 2s linear infinite;
        transition: 450ms;
    }
    .made-by__water {
        display: block;
        opacity: 0.5;
        transition: 450ms;
        i {
            animation: made-by-water 20s linear infinite;
        }
    }
}

@keyframes made-by-icon {
    0%      {
        transform: none;
    }
    10%      {
        transform: rotate(4deg) translateY(2px);
    }
    20%      {
        transform: rotate(10deg) translateY(5px);
    }
    30%      {
        transform: rotate(8deg) translateY(7px);
    }
    40%      {
        transform: rotate(6deg) translateY(8px);
    }
    50%      {
        transform: rotate(0deg) translateY(8px);
    }
    60%      {
        transform: rotate(-4deg) translateY(7px);
    }
    70%      {
        transform: rotate(-10deg) translateY(6px);
    }
    80%      {
        transform: rotate(-8deg) translateY(3px);
    }
    90%      {
        transform: rotate(-6deg) translateY(1px);
    }
    100%      {
        transform: rotate(0deg) translateY(0px);
    }

}

@keyframes made-by-water {
    0% {
        transform: none;

    }
    99% {
        transform: translateX(-500px);
    }
    100% {
        transform: none;
    }
}