.news-thumb {
	display: block;
	padding: 20px;
	background: none;
	height: 100%;
	border: 1px solid #ededed;
	transition: 300ms;
	&:hover {
		text-decoration: none;
		background: none;
		box-shadow: 0 0 0px 8px $yellow;
	}
	&:hover {
		.news-thumb__img-inner {
			transform: translateX(-50%) translateY(-50%) scale(1.1);
		}
		.news-thumb__headline, {
			color: black;
		}
		.news-thumb__date {
			color: $black;
		}
	}
}

.news-thumb_txt-only { 
	padding: 20px 0 20px 10px; 
	margin-bottom: 10px; 
	height: auto;
	box-shadow: none;
	border: 0;
	&:hover {
		box-shadow: none;
		text-decoration: underline;
		border: 0;
	}
}

.news-thumb__img {
	position: relative;
	height: 220px;
	margin: 0 0px 30px 0px;
	overflow: hidden;

}
.news-thumb__img-inner {
	position: absolute;
	@include bg-cover;
	@include center;
	width: 100%;
	height: 100%;
	transition: $tr3;
}

.news-thumb__date {
	display: block;
	margin: 0 0 8px 0;
	color: $gray3;
	font-size: 14px;
	transition: $tr3;
}
.news-thumb__headline {
	color: $black;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 16px;
	transition: $tr3;
}