.map {
	position: relative;
	width: 100%;
	height: 55vh;
	background-image: url(/img/map-zaglushka.png);
	background-size: contain;
	background-position: 10% 50%;
	background-repeat: no-repeat;
}


@media screen and (max-width: 1200px) 	{}
@media screen and (max-width: 992px) 	{}
@media screen and (max-width: 768px) 	{}
@media screen and (max-width: 568px) 	{}
@media screen and (max-width: 414px) 	{}
@media screen and (max-width: 375px) 	{}