.menu {
	height: 100%;
	width: 100%;
	opacity: 0;
	z-index:3;
	height: 0;
	min-height: 0;
	max-height: 0;
	padding: 0;
	overflow: hidden;
	background-color: #fff;

	&.active {
		opacity: 1;
		z-index: 3;

		.menu__header {
			transform: translateY(0);
			transition: 400ms;
			transition-delay: 200ms;
			&::before {
				width: 0;
				transition: 400ms;
				transition-delay: 1000ms;
			}
			&::after {
				width: 0;
				transition: 400ms;
				transition-delay: 600ms;
			}
			.logo {
				transform: translateY(0%);
			}
		}
		.nav__link {
			opacity: 1;
			transform: translateX(0px);
			transition: 400ms;
			transition-delay: 1400ms;
		}
		
		.menu__footer {
			transform: translateY(0);
			opacity: 1;
			transition: 400ms;
			transition-delay: 1800ms
		}
	}
	.nav {
		@include flex-row(wrap,flex-start,center);
		margin: 0;
	    padding-bottom: 4rem;
	    border-bottom: 1px solid rgba(255,255,255,.4);
	}
	.nav__link {
		width: 100%;
		padding: 8px 0;
		flex: 0 0 100%;
		min-width: 100%;
		color: $color_gray !important;
		font-size: 20px;
		opacity: 0;
		transform: translateX(-40px);
		transition: all 250ms;
		transition-delay: 150ms;
		&:hover {
			background: none;
			padding: 8px 0 !important;
			width: 100%;
		}
	}
	.user-options {
		@include flex-row(nowrap,flex-start,center);
		transition: 600ms;
		.user-options__city {
			display: block;
			color: $color_gray;
			&:hover {
				background-color: lightgray;
			}
		}
		.user-options__city-list {
			position: relative;
			padding: 4rem;
			position: fixed;
			top: 0;
			right: 0;
			width: 90%;
			height: 100vh;
			overflow-y: auto;
			background: white;
			@include bg-cover;
			transform: translateX(110%);
			opacity: 1;
			background-color: whitesmoke;
			transition: all 400ms;
			transition-delay: 300ms;
			z-index: 10;


			&::before {
				@include pseudo;
				top: 0;
				left: -100%;
				width: 150px;
				height: 150%;
				background-color: lightgray;
				opacity: 0;
				transform: skew(-19deg);
				transition:400ms;

			}

			&.user-options__city-list_active {
				transform: translateX(0%);
				transition-delay: 0ms;
				&:before {
					left: -50%;
					opacity: .18;
					transition: 800ms;
				}
				.user-options__city-option {
					opacity: 1;
					transform: translateY(0);
					transition: 300ms;
					transition-delay: 1000ms;
				}
				.user-options__caption {
					h4 {
						opacity: 1;
						transform: translateY(0);
						transition: 300ms;
						transition-delay: 600ms;
					}
				}
				.user-options__close {
					// right: 15px;
					transition-delay: 1400ms;
					transform: rotate(45deg) scale(1);
				}
			}

			.user-options__city-option {
				opacity: 0;
				transform: translateY(10px);
				flex: 0 0 50%;
				font-size: 1.8rem;
				padding: 1rem 1rem 1rem 0;
				transition: 0ms;
				transition-delay: 150ms;
			}

			.user-options__caption {
				flex: 1 1 100%;
				h4 {
					opacity: 0;
					transform: translateY(10px);
					transition: 0ms;
					transition-delay: 250ms;
				}
			}
		}

		.user-options__close {
			position: absolute;
			top: 20px;			
			right: 15px;
			transition-delay: 0ms;

			width: 40px;
			height: 40px;
			background-color: transparent;
			border: 0;
			outline: 0;
			cursor: pointer;
			transform: rotate(45deg) scale(0);
			z-index: 9;
			transition: 300ms;
			&:after {
				@include pseudo;
				top: 50%;
				left: 50%;
				transform: translateX(-50%);
				width: 35px;
				height: 1px;
				background: #9e9e9e;
			}

			&:before {
				@include pseudo;
				top: 50%;
				left: 50%;
				transform: translateY(-50%);
				width: 1px;
				height: 35px;
				background: #9e9e9e;
			}
			&:active {
				border: 0;
				outline: 0;
			}
			&:hover {
				transform: rotate(135deg) scale(1.3);
			}
		}
	}
	.menu__footer {
		transform: translateY(101%);
		opacity: 0;
		transition: 150ms;
		transition-delay: 300ms;
	}
}
.menu_full-screen {
	width: 100%;
}
.menu_mobile-menu {
	position: fixed;
	top: 0;
	right: 0;
	height: 100%;
	min-height: 100%;
	overflow-y: auto;
	background: #fff;
	background-image: none;
	opacity: 1;
	transition: transform 500ms;	
	background-color: #fff;
	transform: translateX(110%);
	transition-delay: 400ms;
	// overflow: hidden;
	&.active {
		transform: translateX(0);
		transition-delay: 0ms !important;
		&::before {
	    	transform: rotate(180deg) translateX(0px);
		}
	}
	.btn {width: 100%;}
	.container {
		padding: 0 20px !important;
	}
}














.menu__header {
	padding: 4rem 0rem 3rem 0rem;
	margin: 0 0 4rem 0;
	background-color: lightgray;
	@include flex-row(wrap,center, flex-start);
	transform: translateY(-100%);
	transition: 350ms;
	transition-delay: 500ms;
	position: relative;
	transition: 200ms;
	transition-delay: 50ms;
	z-index: 11;
	&::before {
		@include pseudo;
		width: 120%;
		height: 100%;
		top: 0;
		left: 0;
		background: $color_gray;
		background-size: 50%;
		background-position: center center;
		background-repeat: no-repeat;
		z-index: 4;
	}
	&::after{
		@include pseudo;
		width: 120%;
		height: 100%;
		top: 0;
		left: 0;
		background: whitesmoke;
		z-index: 5;
		opacity: 1;
	}
	.logo {
		margin: 0 0 3rem 0;
		width: 150px;
		z-index: 1;

		transform: translateY(-200px);
		transition: 550ms;
		transition-delay: 400ms;
	}
	.user-options {
		display: flex;
		flex-direction: column-reverse;
		.user-options__city,
		.user-options__tel {
			width: 100%;
			flex: 1 1 100%;
			font-size: 2rem;
			margin: 1rem 0;
		}
		.user-options__tel {
			padding: 3rem;
			font-size: 2.6rem;
		}
	}

}
.menu__footer {
	background-color: whitesmoke;
	.link_footer,
	.link_footer:visited, {
		color: $color_main !important;
		font-size: 2.3rem;
	}
}
.menu__phone {
	@include flex-row(wrap, flex-start, center);
	height: 100%;
	flex-grow: 1;
	border-right: 1px solid rgba(255,255,255,.4);
	a {
		display: block;
		font-size: 22px;
		color: #fff;
		font-weight: bold;
		line-height: 1.3;
		background: none;
		&:hover,&:active {
			color: black;
			background: none;
			text-decoration: none;
		}
	}
	&:hover,&:active {
		color: black;
		text-decoration: none;
	}
	span {
		font-size: 14px;
		color: gray;
		font-weight: normal;
	}
}
.menu__nav {
	a {
		display: block;
		padding: 12px 0 18px 0;
		margin: 12px 0 12px 0;
		color: black;
		font-size: 18px;
		font-weight: bold;
		border-bottom: 1px solid gray;
		font-family: 'Exo 2', sans-serif;
		background: none;
		&:hover {text-decoration: none; background: none;}
		&:active,&:visited {text-decoration: none;color: black; background: none;}
		&:last-child {margin-bottom: 0;}
	}
}

.menu__body {
	width: 100%;
	@include flex-row(nowrap, space-between, stretch);
}

.menu__btn-close {
	position: absolute;
	top: 5px;
	right: 5px;
	width: 40px;
	height: 40px;
	background-color: transparent;
	border: 0;
	outline: 0;
	cursor: pointer;
	transform: rotate(45deg);
	z-index: 12;
	transition: 300ms;
	&:after {
		@include pseudo;

		top: 50%;
		left: 50%;
		transform: translateX(-50%);

		width: 35px;
		height: 1px;

		background: $color_black;
	}

	&:before {
		@include pseudo;

		top: 50%;
		left: 50%;
		transform: translateY(-50%);

		width: 1px;
		height: 35px;

		background: $color_black;
	}

	&:active {
		border: 0;
		outline: 0;
	}

	&:hover {
		transform: rotate(135deg) scale(1.3);
	}

}

@media screen and (max-width: 1400px) {


}

@media screen and (max-width: 1200px) {
	.menu_catalog {
		top: 272px;
	}
}


@media screen and (max-width: 1024px) {
	.menu {
		.container {
			padding: 0;
		}
	}
	.menu__product-items {
		padding: 10px 30px;
	}
}

@media screen and (max-width: 992px) {
	.menu_catalog {
		top: 311px;
	}
}


@media screen and (max-width: 768px) {
	.menu__product-items {display: none;}
}

@media screen and (max-width: 614px) {
	// .menu__nav {
	// 	flex: 1 1 100%;
	// }
}


