.socials {
	@include flex-row(nowrap,flex-start,center);
	margin-left: -7px;
}

.socials__item {
	height: 40px;
	width: 40px;
	@include flex-row(nowrap,center,center);
	margin-right: 1rem;
	cursor: pointer;
	transition: 300ms;
	// border: 1px solid #fff;
	&:last-child {
		margin-right: 0;
	}
	&:hover {
		path {
			fill: $color_main;
		}
	}
}

@media screen and (max-width: 1200px) 	{}
@media screen and (max-width: 992px) 	{
	.socials {
		margin: 3rem 0 0 -1rem;
	}
}
@media screen and (max-width: 768px) 	{}
@media screen and (max-width: 568px) 	{}
@media screen and (max-width: 414px) 	{}
@media screen and (max-width: 375px) 	{}