.nav {
	@include flex-row(nowrap,space-between,center);
	width: 100%;
	flex: 1 1 100%;
	height: 100%;

	&__link,
	&__link:visited {
		font-size: 1.5rem;
		font-family: 'Russo One';
		color: #fff;
		padding-left: 10px;
		padding-right: 10px;
		&::before {
			left: 6px;
		}
	}
}

.nav__link_black {
	color: $color_black !important;
}



.nav-secondary {
	width: 100%;
	height: 100%;
	@include flex-row(nowrap,flex-start,center);
}

.nav-secondary__link,
.nav-secondary__link:visited, {
	@include flex-row(nowrap,center,center);
	padding: 0 12px;
	color: $color_gray;
	height: 100%;
	font-size: 14px;
	transition: 300ms;
	user-select: none;
	&:last-child {
		margin-left: auto;
		&:hover {
			background-color: $color_gray;
			color: #fff;
		}
	}
	&:hover {
		background-color: #ededed;
		text-decoration: none;
		color: $color_black;
	}
}


@media screen and (max-width: 1200px) {}
@media screen and (max-width: 1024px) {
	.nav-secondary__link:last-child {display: none;}
}
@media screen and (max-width: 992px) {}
@media screen and (max-width: 768px) {}
@media screen and (max-width: 568px) {}
@media screen and (max-width: 413px) {}