.gallery-slide {
	height: 572px;
	// border: 1px solid gray;
	// background-color: whitesmoke;
	&__photo {
		position: relative;
		overflow: hidden;
		@include flex-row(wrap,center,center);
		&::before {
			@include pseudo;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			// background: linear-gradient(90deg, #FC5647 -8.95%, #F76C3A 100%);
			background: black;
			opacity: 0;
			z-index: 2;
			transition: 300ms;
		}
		&:hover::before {
			opacity: .2;

		}
		&:hover .gallery-slide__photo-inner {
			transform: scale(1.1);
		}
	}
	&__photo-inner {
		@include bg-cover;
		width: 100%;
		height: 100%;
		flex: 1 1 100%;
		transition: 400ms;
	}
	&__photo_big {
		flex: 1 1 100%;
		height: 100%;
	}
	&__photo_small {
		height: 50%;
		flex: 1 1 100%;
	}
}

.gallery-slide.gallery-slide_small {
	flex: 1 1 20%;
}
.gallery-slide.gallery-slide_big {
	flex: 1 1 40%;
}

.gallery-slide__btn {
	position: relative;
	span {display: block;}
	text-transform: uppercase;
	font-weight: bold;
	cursor: pointer;
	&:hover img {
		transition: 450ms;
		transform: rotate(360deg);
	};
	&:hover::before {
		background: linear-gradient(90deg, #2AB3F8 -8.95%, #1DD7EF 100%);
		opacity: 1;
	}
	&:hover::after {
		background: url(/img/bg/11-gallery/bg-button_hover.svg);
		@include bg-contain;
	}

	

	&::before {
		@include pseudo;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
	    background: linear-gradient(90deg, #FC5647 -8.95%, #F76C3A 100%);
	    z-index: -2;
	    opacity:1;
	}
	&::after {
		@include pseudo;
		left: 50%;
		top: 50%;
		transform: translateX(-50%) translateY(-50%);
		width: 80%;
		height: 80%;
		z-index: -1;
		background:  url(/img/bg/11-gallery/bg-button.svg);
		@include bg-contain;
	}
}


@media screen and (max-width: 1200px) 	{
	.gallery-slide {
		height: 410px;
	}
}
@media screen and (max-width: 992px) 	{
	.gallery-slide {
		height: 370px;
	}
}
@media screen and (max-width: 768px) 	{
	.gallery-slide.gallery-slide_big {
		height: 500px;
		flex: 1 1 50%;
	}
	.gallery-slide.gallery-slide_small{
		flex: 1 1 50%;
		height: 500px;
	}
	.gallery-slide.hidden-xl,
	.gallery-slide.hidden-md,
	.gallery-slide.hidden-sm {display: block !important;}
}
@media screen and (max-width: 568px) 	{
	.gallery-slide.gallery-slide_big {
		height: 230px;
		flex: 1 1 100%;
	}
	.gallery-slide.gallery-slide_small{
		flex: 1 1 100%;
		height: 460px;
	}
	.gallery-slide.hidden-xl,
	.gallery-slide.hidden-md,
	.gallery-slide.hidden-sm {display: block !important;}
}
@media screen and (max-width: 414px) 	{}
@media screen and (max-width: 375px) 	{}