.basket {
	position: fixed;
	height: 100%;
	width: 600px;
	background-color: #fff;
	z-index: 21;
	transition: transform $tr2;
	overflow: hidden;
	top: 0;
	right: 0;
	left: auto;
	transform: translateX(101%);
	background-image: url(/img/basket-modal-preloader.gif);
   	background-repeat: no-repeat;
   	background-position: 50%;

   	&::-webkit-scrollbar {
    width: 10px;
	}
	 
	&::-webkit-scrollbar-track {
	    background-color: transparent;
	}
	 
	&::-webkit-scrollbar-thumb {
	  background-color: #656565;
	  outline: 1px solid #656565;
	}

	h3 {
		position: relative;
		margin: 0 20px 0 0;
		padding: 0 40px 23px 53px;
		border-bottom: 1px solid $gray2;

		// padding: 0 40px 38px 0;

		.i {
			left: 13px;
			top: 17px;
		}
		.i-cart__num {
			color: black;
			background-color: $yellow;
		}
	}


	&.active {
		overflow-y: scroll;
		transform: translateX(0);
	}
}

.basket__header {
	h3 {
		position: relative;
		padding: 0 0 0 60px;
		& > span {
			position: absolute;
			left: 0;
			top: 0;
			width: 40px;
			height: 40px;
		}
	}
}

#basket-root {
	padding: 40px;
	background-color: #fff;
	height: 100%;

	&.bx-basket {
		padding: 0;
	}
}


.basket__btn-close {
	position: absolute;
	top: 33px;
	right: 33px;

	width: 40px;
	height: 40px;
	background-color: transparent;
	border: 0;
	outline: 0;
	cursor: pointer;

	transform: rotate(45deg);
	
	transform-origin: 50% 50%;
	transition: 300ms;
	
	&:after {
		@include pseudo;

		top: 19px;
		left: 19px;
		transform: translateX(-9px);

		width: 20px;
		height: 2px;

		background: $black;
	}

	&:before {
		@include pseudo;

		top: 19px;
		left: 19px;
		transform: translateY(-9px);

		width: 2px;
		height: 20px;

		background: $black;
	}

	&:active {
		border: 0;
		outline: 0;
	}

	&:hover {
		transform: rotate(135deg);
	}

}

.basket__message {
	padding: 40px;
    background-color: gray;
    margin: 40px -40px 0 -40px;

    p {color: #fff;}
}

.basket__footer{
	// поведение
	@include flex-row(nowrap,space-between,center);
	margin: 0 -40px;
	padding: 40px 40px 40px 40px;

	// стили
	background-color: $gray3;
}
.basket__total {
	flex: 1 1 50%;
	min-width: 50%;
}

.basket__total{
	// поведение
	padding: 0 0 0 20px;

	// стили
	text-align: right;
}

.basket__note,
.basket__sum{
	display: block;
}

	.basket__note{
		color: $gray2;
		font-size: 14px;

	}
	.basket__sum{
		font-size: 28px;
		color: #fff;
		font-weight: 600;
	}



@media screen and (max-width: 768px) {
	.basket {
		width: 100%;
	}
	.basket__btn-close {
		top: 20px;
		right: 20px;
	}
}