.overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	// background-color: rgba(0,0,0,.9);
	display: none;
}

.overlay_catalog-menu {
	z-index: 2;
	background-color: rgba(0,0,0,.01);
}

.overlay_basket,
.overlay_modal,
.overlay_filters {
	z-index: 10;
	background-color: rgba(0,0,0,.7);
}