.shop-option,
.shop-option:visited {
	margin-right: 10px;
	@include flex-row(nowrap,flex-start,center);
	cursor: pointer;
	background: none;
	span {
		color: $gray3;
		font-size: 14px;
		line-height: 1.5;
		transition: $tr2;
	}

	&:hover {
		text-decoration: none;
		background: none;
		span {color: $black;}
		.icon_rounded {
			border-color: $yellow;
			box-shadow: 0 0 0 3px $yellow;
			transform: translateY(-3px);
		}
	}
}

.shop-option_visited {
	flex: 0 1 33.3%;
}
.shop-option_fav-list {
	flex: 0 1 29.3%;
}
.shop-option_register {
	flex: 0 1 37.3%;
	.icon {
		flex: 0 0 52px;
	}
}

.shop-option__link-list {
	@include flex-row(wrap,flex-start,center);
	width: 100%; /*IE*/
	a {
		flex: 1 1 100%;
		color: $gray3;
		font-size: 14px;
		line-height: 1.5;
		transition: $tr2;
		&:hover {
			color: $black;
			transform: translateX(3px);
		}
	}
}

// responsiveness
@media screen and (max-width: 1200px) {
	.shop-option {
		@include flex-col(nowrap, flex-start, flex-start);
		height: 94px; /*IE*/
	}
}

@media screen and (max-width: 1024px) {

}

@media screen and (max-width: 992px) {
	.shop-option {
		@include flex-row(nowrap,center,center);
	}
}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 568px) {

}