.section {
	height: 100%;
	@include flex-row(wrap,flex-start,center);
}

.section_hero {
	background-image: url(/img/bg/bg-hero.jpg);
	@include bg-cover;
	h1 {
		margin-bottom: 1.5rem;
		line-height: 1.3;
	}
	.logo {
		margin: 0 0 4.5rem 0;
	}
}