.catalog-link {
}


.catalog-link__accordeon {
	padding: 15px 36px;

	// изменяется
	display: none;
	a {
		display: block;
		padding: 4px 0;
		font-size: 16px;
		color: $gray4;
		font-family: 'Clear Sans', sans-serif;
		text-transform: none;
	}
}

.catalog-link__label {
	display: block;
	color: $black;
	font-family: 'Exo 2', sans-serif;
	font-weight: 800;
	text-transform: uppercase;
	@include font-kit(18px,18px,17px,16px,15px);
	padding: 26px 60px 26px 26px;
	border-bottom: 1px solid $gray2;
	cursor: pointer;
	word-break: break-word;
	transition: all 300ms;


	&::before {
		@include pseudo;
		right: 45px;
		top: 50%;
		transform: translateX(-10px) translateY(-50%) rotate(-45deg);

		width: 14px;
		height: 14px;
		border-bottom: 1px solid $gray3;
		border-right: 1px solid $gray3;

		transition: $tr1;
		
		// изменяется
		opacity: 0;
	}

	&:hover {
		background-color: rgba(0,0,0,.075);
	}

	i {
		display: inline-block;
		margin: 0 0 0 17px;
		font-style: normal;
		font-weight: 400;
		color: $gray3;
		font-family: 'Clear Sans', sans-serif;
	}

	&.active {
		position: relative;
		background-color: rgba(0,0,0,.075);
		color: gray;
		&:hover {
			// color: $gray4;
			background-color: none;
		}

		&::before {
			
			// изменяется
			opacity: 1;
			transform: translateX(0) translateY(-50%) rotate(-45deg);
		}
}




}