
.btn, input.btn,
.btn:visited, input.btn:visited{
	display: inline-block;
	position: relative;	
	overflow: hidden;
	text-decoration: none !important;
	font-weight: 600;
	cursor: pointer !important;
	line-height: 100%;
	text-transform: uppercase;
	background: none;
	transition: $tr2;

	&:hover {
		text-decoration: none;
		cursor: pointer !important;
	}

	&.disabled {
		background-color: lightgray !important;
		color: #333 !important;
		cursor: not-allowed !important;
		opacity: .85;
		border: 2px solid gray;
		&:hover {
			border: 2px solid #666;
			opacity: 1;
		}
	}
}


.btn_main, input.btn_main {
	background-color: $yellow;
	color: $black;
	border: 2px solid $yellow;
	transition: all $tr2;
	cursor: pointer;
	&:active,
	&:focus 	{ color: $black; background-color: #fff;}
	&:hover 	{ 
		background-color: #fff;
		border: 2px solid $black; 
	}
	&:visited {color: $black;}
}


.btn_secondary, input.btn_secondary {
	background-color: #ededed;
	color: #666;
	transition: all $tr2;
	font-size: 16px;
	font-weight: 400;
	text-transform: none;
		border: 2px solid #ededed; 
		cursor: pointer;
	&:active,
	&:visited 	{ color: #666; }
	&:hover 	{ 
		background-color: #fff;
		border-color: $gray2;
	}
	&:focus 	{
		background-color: #ededed;
		color: #666;
		color: #006eb3;
	}
}


.btn_outline {
	background-color: #fff;
	color: #000;
	border: 2px solid #000;
	background: none;
	&:active,
	&:visited,
	&:focus 	{ color: #000 !important; background: none; }
	&:hover 	{ background: none; background-color: #000 !important; color: #fff !important; }
	&:focus 	{}
}



.btn_size-l {
	@include font-kit(17px, 17px, 17px, 16px, 15px);
	padding: 20px 30px;
}
.btn_size-m {
	@include font-kit(15px, 15px, 14px, 14px, 13px);
	padding: $gutter/2.2 $gutter*1.5;
}
.btn_size-s {
	@include font-kit(14px, 14px, 13px, 13px, 12px);
	padding: $gutter/3.5 $gutter*1.25;
}


.btn-category {
	position: relative;
	@include flex-row(nowrap,flex-start,center);
	height: 100%;
	overflow: visible;
	padding-right: 60px
}
.btn-category__count {
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
	width: 35px;
	background-color: #dedede;
	color: #666;
	@include flex-row(nowrap,center,center);
	font-size: 12px;

}



.btn-catalog {
	position: relative;
	display: inline-block;
	height: 100%;
	padding: 0 58px 0 80px;
	margin: 0 $gutter 0 0;
	background-color: $gray3;
	color: rgba(255,255,255,.85);
	@include flex-row(nowrap,flex-start,center);
    align-items: center;
    line-height: 1;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: .3px;
    min-width: 283px;
    cursor: pointer;
	transition: $tr2;

    &::before {
    	@include pseudo;
    	right: 30px;
    	top: 50%;
		transform: translateY(-70%) rotate(45deg);

		width: 8px;
		height: 8px;

		border-bottom: 2px solid rgba(255,255,255,.85);
		border-right: 2px solid rgba(255,255,255,.85);

		transition: $tr2;
		animation-delay: 2s;
		transition-delay: 2s;

    }
    
    &:hover {
    	color: #fff;
    	background-color: #666666;
    	&::before {
    		color: #fff;
    		animation: arrowBounceDown $tr2 ease;
    	}
    	.i-burger__bar {
    		background-color: #fff;
    		&:nth-child(1) {width: 100%;}
    		&:nth-child(2) {width: 95%;}
    		&:nth-child(3) {width: 65%;}
    	}
    }
}

.btn-basket {
	position: relative;
	@include flex-row(nowrap,flex-start,center);
	padding: 0 20px 0 60px;
	height: 100%;
	flex-grow:0;
	min-width: 178px;
	cursor: pointer;
	transition: $tr2;


	.i-cart {
		left: 20px;
		top: 50%;
		transform: translateY(-50%);
	}

	&.btn-basket_animated {
		.i-cart {
			left: 10px;
		}
	}

	&:hover {
		background-color: #ffee99;
	}
}



.btn-basket__text {
	display: inline-block;
	margin: 0 8px 0 0;
	font-weight: 600;
	font-style:normal;
	text-transform: uppercase;
	font-size: 16px;
	color: black;
}

.btn-basket__total {
	font-weight: 400;
	font-style:normal;
	text-transform: uppercase;
	font-size: 16px;
	color: black;
}




.btn-burger {
	@include flex-row(wrap, center, center);
	width: 60px;
	flex: 0 0 60px;
	max-width: 60px; /*IE*/
	height: 100%;
	margin: 0 0 0 0;
	cursor: pointer;
    transition: 200ms;
    padding: 16px 16px;

	background-color: transparent;
}
.btn-burger__bar {
	width: 100%;
    height: 2px;
    margin-bottom: 0px;
	background-color: $black;
    transition: $tr;

}


@media screen and (max-width: 1200px) {
	.btn-catalog {
		font-size: 14px;
		padding: 0 18px 0 65px;
		min-width: 213px;
		&::before {display: none;}
		.i-burger {
			left: 20px;
		}
	}
}
@media screen and (max-width: 1024px) {}
@media screen and (max-width: 992px) {
	.page-header__bottombar {
		.btn-basket__text {display: none;}
	}
}
@media screen and (max-width: 768px) {}
@media screen and (max-width: 568px) {}
@media screen and (max-width: 413px) {}