.product-thumb {
	position: relative;
	display: block;
	padding: $gutter;
	height: 100%;
	border: 1px solid $gray1;
	transition: $tr2;
	background-color: #fff;

	&.product-thumb_in-fav {
		.product-thumb__fav {
			opacity: 1;
		}
	}

	&:hover {
		box-shadow: 0 0 0 8px $yellow;
		text-decoration: none;
	}
}
.product-thumb__body {
	padding: 0 0 $gutter 0;
	margin: 0 0 $gutter 0;
	border-bottom: 1px solid $gray1;
}
.product-thumb__img {
	position: relative;
	display: block;
	height: 213px;
	background: none;
	@include bg-contain;
	margin: 0 0 $gutter 0;
	transition: $tr3;

	&::before {
		@include pseudo;
		width: 100%;
		height: 100%;
		background-color: rgba(0,0,0,.06);
		opacity: 0;
		transition: $tr3;
	}

	&:hover {
		background: none;
		@include bg-contain;
		&::before {
			opacity: 1;
		}
	}
}
.product-thumb__name {
	display: block;
	margin: 0 0 7px 0;
	text-transform: uppercase;
	color: $black !important;
	font-weight: 800;
	height: 70px;
	overflow: hidden;
	background: none;
	@include font-kit(16px,16px,16px,15px,14px);
	&:hover {
		text-decoration: underline;
		background: none;
	}
}
.product-thumb__articul {
	display: block;
	height: 20px;
	@include font-kit(14px,14px,14px,13px,12px);
	color: $gray3;
}
.product-thumb__footer {}
.product-thumb__avail-price {
	@include flex-row(nowrap,space-between, flex-end);
	margin: 0 0 $gutter 0;
}
.product-thumb__avail {
	span,b {
		display: block;
		font-size: 14px;
		line-height: 1.4;
	}
	span {color: $gray3;}
	b {color: $black;}
}
.product-thumb__price {
	@include font-kit(28px,27px,25px,23px,21px);
	font-weight: 600;
	color: $black;
	text-transform: uppercase;

}
.product-thumb__controls {
	.product-controls {width: 100%;}
}


.product-thumb__badge {
	position: absolute;
	top: 18px;
	left: 18px;
	padding: 10px;
	text-transform: uppercase;
	font-size: 13px;
	color: #fff;
	font-weight: bold;
	letter-spacing: .5px;
	overflow: hidden;
}
.product-thumb__badge_sale {
	background-color: $orange;
	transition: $tr1;
	&::before {
		@include pseudo;
		left: -40px;
		top: -40px;
		width: 16px;
		height: 300%;
		transform: rotate(45deg);
		z-index: 2;
    	background: rgba(255,255,255,.4);;
    	opacity: 0;
    	transition: transform 700ms, opacity 10ms;
    	transition-delay: 350ms;
		animation: woosh 6s infinite;
	}

}
.product-thumb__badge_new {
	background-color: $green;
	overflow: hidden;

	&::before {
		@include pseudo;
		left: -50%;
		top: -40px;
		width: 16px;
		height: 300%;
		transform: rotate(45deg);
		z-index: 2;
    	background: rgba(255,255,255,.25);
    	opacity: 0;
    	transition: transform 700ms, opacity 10ms;
    	transition-delay: 350ms;
		animation: woosh 6s infinite;
	}
}

.product-thumb__fav {
    position: absolute;
    top: 20px;
    right: 18px;
    width: 40px;
    height: 40px;
    z-index: 2;
    text-align: center;
    line-height: 36px;
    color: black;
    background-color: $yellow;
    transition: 300ms;
    cursor: pointer;
    border: 2px solid $yellow;
    transition: 300ms;
    opacity: .25;
    transform: translateY(-3px);
    i {transition: 300ms;}

    &:hover {
    	transform: translateY(-3px);
	    background-color: #fff;
	    border: 2px solid black;
	    opacity: 1;
    }
}



.product-thumb.product-thumb_view-list {
	@include flex-row(nowrap,space-between,stretch);
	width: 100%;
	margin: 0 0 12px 0;
	padding: 15px;

	.product-thumb__body {
		flex: 0 0 70%;
	    max-width: 500px;
	    margin: 0;
	    padding: 0;
	    display: flex;
	    align-items: center;
	    justify-content: flex-start;
	    flex-wrap: nowrap;
	    border: 0;
	    // background: whitesmoke;
	}
	.product-thumb__price {
		@include font-kit(24px, 22px,21px,20px, 22px);
	}
	.product-thumb__img {
		flex: 0 0 105px;
	    height: 105px;
	    margin: 0 20px 0 0;
	}
	.product-thumb__name,
	.product-thumb__articul {
		height: auto;
    	flex: 1 1 100%;
	}
	.product-thumb__footer {
		flex: 0 1 300px;
		min-width: 300px;
		background-color: whitesmoke;
    	padding: 15px 20px;
	}
	.product-thumb__info {
		display: flex;
	    justify-content: flex-start;
	    align-items: center;
	    flex-wrap: wrap;
	}
	.product-thumb__avail-price {
		margin: 0 0 10px 0;
	}
	.product-thumb__avail span, .product-thumb__avail b {display: inline;}
	.product-thumb__fav {
		left: 15px;
    	top: 17px;
		width: 26px;
		height: 26px;
		line-height: 22px;
		font-size: 12px;
	}
	.product-controls {
		height: 35px;
		.product-controls__btn {
			height: 35px;
		}
	}

}




@keyframes woosh {
	0% {
		opacity: 0;
		transform: translateX(0px) rotate(45deg);
	}
	15% {
		opacity: 1;
		transform: translateX(1200%) rotate(45deg);
	}
	15.1% {
		opacity: 0;
		transform: translateX(0px) rotate(45deg);
	}

	100% {}
}


@media screen and (max-width: 920px) {
	.product-thumb.product-thumb_view-list {
		flex-flow: row wrap;

		.product-thumb__body {
			flex: 1 1 100%;
			min-width: 100%;
		}

		.product-thumb__footer {
			flex: 1 1 100%;
			min-width: 100%;
			@include flex-row(nowrap, space-between, center);
		}

		.product-thumb__controls {
			width: 270px;
		}

		.product-thumb__avail-price {
			display: flex;
			flex-flow: row-reverse;
			justify-content: flex-start;
			align-items: center;
			margin: 0 30px 0 0;
		}
		.product-thumb__price {
			margin: 0 40px 0 0;
		}

	}
}

@media screen and (max-width: 768px) {
	.product-thumb {
		border: 2px solid $yellow;
		margin: 0 0 40px 0;
		height: auto;
		&:hover {box-shadow: none;}
	}

	.product-thumb.product-thumb_view-list {
		.product-thumb__img {
			flex: 1 1 100%;
			width: 100%;
			max-width: 100%;

		}
		.product-thumb__body {
			justify-content: center;
			margin: 0 0 30px;
		}
		.product-thumb__footer {
			@include flex-row(wrap, space-between, center);
			margin: 0 -20px -20px -20px;
			padding: 20px 20px 30px 20px;
		}
		.product-thumb__avail-price,
		.product-thumb__controls {
			flex: 1 1 100%;
			max-width: 100%;
		}
		.product-thumb__avail-price {
			margin: 0 0 20px 0;
			@include flex-row(wrap, space-between, center);
		}
		.product-thumb__avail,.product-thumb__price {margin: 0;}
		.product-thumb__fav {
			left: 18px;
	    	top: 26px;
			width: 40px;
			height: 40px;
			line-height: 36px;
			font-size: 18px;
		}

	}
}