
// список ссылок
// 	горизонтальный
// 	вертикальный
// 	с дропдауном

.nav {
	font-size: 0;
	a {
		position: relative;
		display: inline-block;
		padding: 15px 25px;
		margin: 0 0 0 0;
		font-size: 14px;
		color: $gray4;
		transition: $tr3;
		text-decoration: none;
		background: none;

		&:last-child {margin-right:0;}
		
		&:hover {
			text-decoration: none;
			color: black;
			background-color: $gray2;
		}
	}
}




@media screen and (max-width: 1200px) {
	.nav {
		a {
			padding: 15px 15px;
			font-size: 13px;
		}
	}
}
@media screen and (max-width: 1024px) {}
@media screen and (max-width: 992px) {
	.nav {
		a {
			padding: 15px 8px;
			font-size: 12px;
		}
	}
}
@media screen and (max-width: 768px) {}
@media screen and (max-width: 568px) {}
@media screen and (max-width: 413px) {}