.inner-page {
	.hero {}
	.header {}

	h1 {
		margin: 40px 0 45px 0;
	}

	.content {
		position: static;
	}
}

.h-hover-zoom {
	transition: 450ms;
	&:hover {
		transform: scale(1.06) !important;
	}
}

.page-caption {
	position: relative;
	padding: 12.5rem 0 8rem 0;
	background-image: url(/img/bg/bg-caption.jpg);
	@include bg-cover;
	overflow: hidden;
	// z-index: -1;
	h1, .breadcrumbs {
		z-index: 1;
	}
	&::before {
		position: absolute;
		content: '';
		left: 45rem;
		top: 0;
		width: 35rem;
		height: 100%;
		transform: skew(-30deg);
		background-color: #fff;
		opacity: .06;
	}
}

.hideme {
	opacity: 0;
	// transform: translateX(-15px);
	transition: 700ms !important;
}
.del200 	{transition-delay: 200ms !important;}
.del400 	{transition-delay: 400ms !important;}
.del600 	{transition-delay: 500ms !important;}
.del800 	{transition-delay: 600ms !important;}
.del1000 {transition-delay: 1000ms !important;}
.del1200 {transition-delay: 1200ms !important;}
.del1400 {transition-delay: 1400ms !important;}
.del1600 {transition-delay: 1600ms !important;}

.hideme_up {
	transform: translateY(45px);
}
.hideme_left {
	transform: translateX(-45px);
}
.hideme_right {
	transform: translateX(45px);
}
.hideme_down {
	transform: translateY(-45px);
}

.hideme_visible {
	// transition-delay: 3000ms;
	transform: none !important;
	opacity: 1;
}

.h-big-wave-deco {
	position: relative;
	width: 100%;
	&::before {
		@include pseudo;
		width: 100%;
		height: 100vw;
		top: -15vw;
		left: 0;
		background-image: url(/img/bg/3-numbers/bg-nums-wave.svg);
		background-size: contain;
		background-position: top center;
		background-repeat: no-repeat;
		z-index: -10;
	}
}

.h-bg-footer {
	background-image: url(/img/bg/11-gallery/bg-gallery.svg);
	background-size: contain;
	background-position: bottom center;
	background-repeat: no-repeat;
}



.h-no-scroll {
	overflow: hidden;
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
}



.h-bg-bigwave {
	position: relative;
	&::before {
		@include pseudo;
		left: 0;
		top: 0;
		height: 1800px;
		width: 100%;
		background-image: url(/img/bg/6-advant/bg-big-wave_in-advant.png);
		@include bg-cover;
		z-index: -5;
	}
	&_left::before {}
	&_right::before {transform: rotateY(180deg);}
}






.h-stats-bg {
	position: relative;
	&__one {
		position: absolute;
	    width: 95vw;
	    height: 95vh;
	    left: -46vw;
	    top: 5vh;
	    z-index: -1;
		background-image: url(/img/bg/5-stats/bg-stats-1.png);
		@include bg-contain;
	}
	&__two {
		position: absolute;
	    width: 100vw;
	    height: 100vh;
	    left: -42vw;
	    top: 8vh;
	    z-index: -2;
		background-image: url(/img/bg/5-stats/bg-stats-2.png);
		@include bg-contain;
	}
}

.img-resp {
	width: 100%;
	height: auto;
}

.img-bg {
	position: relative;
	width: 100%;
	min-height: 500px;
	background-color: whitesmoke;
	@include flex-row(nowrap,center,center);
	overflow: hidden;
	transition: 400ms;
	img {
		width: 40%;
		transition: 400ms;
	}
	&:hover {
		background-color: #eaeaea;
		img {
			transform: translateY(-2rem);
		}
	}

}

.cta-small {
	padding: 5rem;
	background: url(/img/bg/bg-scheme_min.png) no-repeat center center lightgray;
	background-size: cover;
	.container {
		@include flex-row(nowrap,space-between,center);
	}
}

.fast-options {
	position: fixed;
	top: 20vh;
	right: -14.8rem;
}
	.fast-options-item {
		width: 20rem;
		height: 5rem;
		margin: 1px 0;
		padding: 0 2rem 0 0;
		background-color: $color_black;
		color: #fff;
		font-size: 15px;
		line-height: 1.2;
		transition: 300ms;
		cursor: pointer;
	    text-decoration: none;
		@include flex-row(nowrap,flex-start,center);

			&:visited {
			    color: #fff;
			    text-decoration: none;
			    cursor: pointer;
			}

		    &:focus,
		    &:active { 
			    text-decoration: none;
		        background-color: black;
		        color: #fff;
		        transition: 0ms;
		    }
			&:hover {
				text-decoration: none;
				transform: translateX(-14.8rem);
				background-color: $color_main;
			}
		.fast-options-icon {
			flex: 0 0 5.4rem;
			text-align: center;
		}
	}

.full-width {
	width: 100%;
}

.pd-0 {padding: 0 !important;}
.pd-1 {padding: 1rem !important;}
.pd-2 {padding: 2rem !important;}
.pd-3 {padding: 3rem !important;}
.pd-4 {padding: 4rem !important;}
.pd-5 {padding: 5rem !important;}
.pd-6 {padding: 6rem !important;}

.mb-0 	{margin-bottom: 0 !important;}
.mb-1 	{margin-bottom: 1rem !important;}
.mb-2 	{margin-bottom: 2rem !important;}
.mb-3 	{margin-bottom: 3rem !important;}
.mb-4 	{margin-bottom: 4rem !important;}
.mb-6 	{margin-bottom: 6rem !important;}
.mb-8 	{margin-bottom: 8rem !important;}
.mb-10 {margin-bottom: 10rem !important;}
.mb-13 {margin-bottom: 13rem !important;}
.mb-20 {margin-bottom: 20rem !important;}

// .pb-40 {padding-bottom: 40px !important;}
// .pb-140 {padding-bottom: 140px !important;}

	@media screen and (max-width: 1200px) {
    	.hidden-to-xl {
    		display: none !important;
    	}
    }
	@media screen and (max-width: 1024px) {
		.fast-options {display: none;}
		.img-bg {
			min-height: 390px;
		}
		.pd-1 {padding: 0.7rem !important;}
		.pd-2 {padding: 1.4rem !important;}
		.pd-3 {padding: 2.1rem !important;}
		.pd-4 {padding: 2.8rem !important;}
		.pd-5 {padding: 3.5rem !important;}
		.pd-6 {padding: 4.2rem !important;}
	}
    @media screen and (max-width: 992px) {
    	.hidden-to-lg {
    		display: none !important;
    	}
    }
    @media screen and (max-width: 768px) {
    	.hidden-to-md {
    		display: none !important;
    	}
    	.h-md-hide-br {
    		br {
    			display: none;
    		}
    	}
    	.img-bg {
			min-height: 340px;
		}
		.mb-3 	{margin-bottom: 2rem !important;}
		.mb-4 	{margin-bottom: 3rem !important;}
		.mb-6 	{margin-bottom: 4rem !important;}
		.mb-8 	{margin-bottom: 6rem !important;}
		.mb-10 {margin-bottom: 8rem !important;}
		.mb-13 {margin-bottom: 10.5rem !important;}
		.mb-20 {margin-bottom: 16rem !important;}

		.pd-1 {padding: 0.5rem !important;}
		.pd-2 {padding: 1rem !important;}
		.pd-3 {padding: 1.5rem !important;}
		.pd-4 {padding: 2rem !important;}
		.pd-5 {padding: 2.5rem !important;}
		.pd-6 {padding: 3rem !important;}
		// .pb-14 {padding-bottom: 10rem !important;}

		.cta-small {
			padding: 5rem;
			.container {
				@include flex-row(wrap,center,center);
				p.mb-0 {
					text-align: center;
					flex: 1 1 100%;
					margin-bottom: 2rem !important;
				}
			}
		}
    }
    @media screen and (max-width: 568px) {
		// .mb-20 	{margin-bottom: 10px !important;}
		.mb-3 	{margin-bottom: 2rem !important;}
		.mb-4 	{margin-bottom: 2.5rem !important;}
		.mb-6 	{margin-bottom: 3.5rem !important;}
		.mb-8 	{margin-bottom: 4.5rem !important;}
		.mb-10 {margin-bottom: 6rem !important;}
		.mb-13 {margin-bottom: 7.5rem !important;}
		.mb-20 {margin-bottom: 13.5rem !important;}

		.pd-1 {padding: 0.3rem !important;}
		.pd-2 {padding: 0.6rem !important;}
		.pd-3 {padding: 0.9rem !important;}
		.pd-4 {padding: 1.2rem !important;}
		.pd-5 {padding: 1.5rem !important;}
		.pd-6 {padding: 1.8rem !important;}

		.img-bg {
			min-height: 300px;
		}
    }
    @media screen and (max-width: 413px) {
    	.img-bg {
			min-height: 280px;
		}
		.mb-3 	{margin-bottom: 1.5rem !important;}
		.mb-4 	{margin-bottom: 2rem !important;}
		.mb-6 	{margin-bottom: 3rem !important;}
		.mb-8 	{margin-bottom: 4rem !important;}
		.mb-1 {margin-bottom: 5rem !important;}
		.mb-13 {margin-bottom: 6rem !important;}
		.mb-20 {margin-bottom: 10rem !important;}
    }
