.inner-page {
	.hero {}
	.header {}

	h1 {
		margin: 40px 0 45px 0;
	}
}

.h-big-wave-deco {
	position: relative;
	width: 100%;
	&::before {
		@include pseudo;
		width: 100%;
		height: 100vw;
		top: -15vw;
		left: 0;
		background-image: url(/img/bg/3-numbers/bg-nums-wave.svg);
		background-size: contain;
		background-position: top center;
		background-repeat: no-repeat;
		z-index: -10;
	}
}

.h-bg-footer {
	background-image: url(/img/bg/11-gallery/bg-gallery.svg);
	background-size: contain;
	background-position: bottom center;
	background-repeat: no-repeat;
}



.h-no-scroll {
	overflow: hidden;
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
}



.h-bg-bigwave {
	position: relative;
	&::before {
		@include pseudo;
		left: 0;
		top: 0;
		height: 1800px;
		width: 100%;
		background-image: url(/img/bg/6-advant/bg-big-wave_in-advant.png);
		@include bg-cover;
		z-index: -5;
	}
	&_left::before {}
	&_right::before {transform: rotateY(180deg);}
}






.h-stats-bg {
	position: relative;
	&__one {
		position: absolute;
	    width: 95vw;
	    height: 95vh;
	    left: -46vw;
	    top: 5vh;
	    z-index: -1;
		background-image: url(/img/bg/5-stats/bg-stats-1.png);
		@include bg-contain;
	}
	&__two {
		position: absolute;
	    width: 100vw;
	    height: 100vh;
	    left: -42vw;
	    top: 8vh;
	    z-index: -2;
		background-image: url(/img/bg/5-stats/bg-stats-2.png);
		@include bg-contain;
	}
}

.img-resp {
	width: 100%;
	height: auto;
}

.mb-0 	{margin-bottom: 0px !important;}
.mb-10 	{margin-bottom: 10px !important;}
.mb-20 	{margin-bottom: 20px !important;}
.mb-30 	{margin-bottom: 30px !important;}
.mb-40 	{margin-bottom: 40px !important;}
.mb-60 	{margin-bottom: 60px !important;}
.mb-80 	{margin-bottom: 80px !important;}
.mb-100 {margin-bottom: 100px !important;}
.mb-200 {margin-bottom: 200px !important;}

.pb-40 {padding-bottom: 40px !important;}
.pb-140 {padding-bottom: 140px !important;}

    @media screen and (max-width: 768px) {
    	.h-md-hide-br {
    		br {
    			display: none;
    		}
    	}
		.mb-30 	{margin-bottom: 25px !important;}
		.mb-40 	{margin-bottom: 30px !important;}
		.mb-60 	{margin-bottom: 45px !important;}
		.mb-80 	{margin-bottom: 60px !important;}
		.mb-100 {margin-bottom: 80px !important;}
		.mb-200 {margin-bottom: 165px !important;}
		.pb-140 {padding-bottom: 105px !important;}
    }
    @media screen and (max-width: 568px) {
		// .mb-20 	{margin-bottom: 10px !important;}
		.mb-30 	{margin-bottom: 20px !important;}
		.mb-40 	{margin-bottom: 25px !important;}
		.mb-60 	{margin-bottom: 35px !important;}
		.mb-80 	{margin-bottom: 45px !important;}
		.mb-100 {margin-bottom: 60px !important;}
		.mb-200 {margin-bottom: 135px !important;}
		.pb-140 {padding-bottom: 80px !important;}
    }
    @media screen and (max-width: 413px) {
		// .mb-20 	{margin-bottom: 10px !important;}
		.mb-30 	{margin-bottom: 15px !important;}
		.mb-40 	{margin-bottom: 20px !important;}
		.mb-60 	{margin-bottom: 30px !important;}
		.mb-80 	{margin-bottom: 40px !important;}
		.mb-100 {margin-bottom: 50px !important;}
		.mb-200 {margin-bottom: 100px !important;}
		.pb-140 {padding-bottom: 55px !important;}
    }
