.product-category-list {
	opacity: 0;
	height: 0;
	overflow: hidden;
	transform: translateX(8px);
	transition: 300ms;

	a {
		display: block;
		margin: 9px 0;
		background: none;
		&:hover,
		&:active {
			background: none;
			text-decoration: underline;
		}
	}

	&.active {
		opacity: 1;
		height: auto;
		transform: translateX(0);
	}
}